extends ../shared/template
block content
  h1 Coins
  input#name(type='text')
  button#new New Game
  button#flip Flip Coin
  ul
    li
      span Name
      span#person
    li
      span ID
      span#id
    li
      span Heads
      span#heads
    li
      span Tails
      span#tails
